.voterid-button{
    width:200px ;
    height: 40px;
    color: black;
    justify-content: center;
    background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);  
    margin-top: 30px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    border-radius: 75px;
    cursor: pointer;
}
.pan-button{
    width:200px ;
    height: 40px;
    color: black;
    justify-content: center;
    background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);  
    margin-top: 30px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    border-radius: 75px;
    cursor: pointer;
}
